.main-canvas{
    min-width: 50%;
    /* max-width: 50%; */
    /* width: 50%; */
    /* flex-grow: 1; */
    margin-inline-start: 6.25em;
    /* margin-inline-end: 6.25em; */

}

canvas {
    display: block;
    /* min-width: 20%;
    max-width: 30%; */
	background-color: white;
	border: 1px solid lightgray;
    margin: 0px;
}