* {
	box-sizing: border-box;
}

body{
    background-color: #31363F;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

img {
    cursor: pointer;
    /* overflow-clip-margin: content-box; */
    overflow: clip;
}

a {
    text-decoration: none;
}
