/* gallery section */
.gallery-grid-container {
    /* height: 100%; */
    /* max-width: 1250px; */

    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px; */
    
    columns: 4 220px;
    column-gap: 10px;

    align-items: center;

    border-radius: 1.5em;
    width: 80vw;
    padding: 2em;
    margin: 20px auto;

    background-color: var(--primary--2);

}

.gallery-grid-container .grid-item {
    /* width: 6.25em; */
    /* height: 100px; */
    width: 100%;
    height: 100%;
    /* object-fit: cover; */

    border-radius: 20%;

    box-shadow: 10px 10px 92px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 92px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 92px 0px rgba(0, 0, 0, 0.75);
}

/* editor section */
.editor-section {
    /* flex-grow: 3; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80vw;
    margin: 20px auto;
    background-color: var(--primary--2);

    border-radius: 20px;
    padding: 20px;
    /* margin-inline-end: 3em; */
   
    


    /* margin: 10px; */





}